<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/addpass" method="POST">
        <input type="text" placeholder=" Enter Website" />
        <input type="password" placeholder=" Enter Password" />
        <button type="submit" value="Save Password"></button>
    </form>
    <div>

    </div>
    <script>
        
    </script>
</body>

</html>