<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p id="demo"></p>
    <script>
        function getPostData(url, toSend, async, method) {

            // Create new request
            var xhr = new XMLHttpRequest()

            // Set parameters
            xhr.open('POST', url, async)

            // Add event listener
            xhr.onreadystatechange = function () {

                // Check if finished
                if (xhr.readyState == 4 && xhr.status == 200) {

                    // Do something with data
                    method(xhr.responseText);

                }
            }
        }
    </script>
</body>

</html>